# Mac temp files.
.DS_Store

# db
*.db
normal.db*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#nbre
3rd_party/boost_1_67_0/
3rd_party/cfe-6.0.1.src/
3rd_party/clang-tools-extra-6.0.1.src/
3rd_party/cmake-3.12.2/
3rd_party/compiler-rt-6.0.1.src/
3rd_party/grpc.tar.gz
3rd_party/libcxx-6.0.1.src/
3rd_party/libcxxabi-6.0.1.src/
3rd_party/libunwind-6.0.1.src/
3rd_party/lld-6.0.1.src/
3rd_party/llvm-6.0.1.src/
3rd_party/llvm-build/

bin/
./build/
lib/
lib_llvm/
